
#footer {
  padding-top: 15%;
   left:0px;
   bottom:0px;
   width:100%;
#footer-instagram-img {
  position: relative;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  .post {
    position: relative;
    width: 10vw; height: 10vw;
    background: #000;
    display: block;
    overflow: hidden;
    .image {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-position: center;
      background-size: cover;
      transition: all .15s ease-in-out;
    }
    ul {
      position: absolute;
      top: 0; left: 0; right: 0;
      height: 50px;
      display: flex;
      justify-content: space-around;
      transform: translateY(-100%);
      transition: all .15s ease-in-out;
      color: #FFF;
      li { text-align: center; line-height: 50px; }
    }
    &:hover {
      .image { opacity: .5; transform: scale(1.15) translate3d(0,0,0); }
      ul { transform: translateX(0); }
    }
  }
}


#footer-instagram-title {
  background: #111111;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
  font-size: 17px;

}
#copyright {
    background: #111111;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
  }
}
