/* --------------------------------

navbar

-------------------------------- */
.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

.navbar-default{

background-color:  rgba(0, 0, 0, 0.8);
font-family: "Open Sans", Helvetica, sans-serif;
border-color: #ffffff;
margin-bottom: 0px;
border: 0px;

}
.navbar-default .navbar-brand{
    color:  #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color:  #27ae60;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: #ffffff;
	background-color: #1A242F;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color:  #27ae60;
	background-colo: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color:  rgba(0, 0, 0, 0.8);
	color: #ffffff;
}

#image-header {
padding-left: 25%;
padding-top: 9%;
padding-right: 25% ;
padding-bottom: 10%;
width: 100%;
}
